@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #C2DED1;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #013220;
    font-weight: bold;
    padding-left: 5px;
}

.logomall {
    width: 45px;
    height: 45px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 260px;
    padding-left: 20px;
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(1.05);
}

.navtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.dropdownbar{
    display: none;
    height: 145px;
    width:100%;
    padding-top: 14px;
}

.dropdowndirectory{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #C2DED1;
    width:150px;
    height:50px;
    text-align: center;
    padding-top: 15px;
    
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navtitle:hover{
    color: white;
}

.dropdowndirectory:hover{
    color: white;
}

.dropdown:hover .dropdownbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content:center;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #354259;
}

.titlefooter {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #013220;
    font-weight: bold;
    padding-left: 5px;
}

.logomallfooter {
    width: 45px;
    height: 45px;
}

.logofooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.footerdesc {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 2px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.middle {
    display:flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
}

.logosocial {
    width: 40px;
    height: 40px;
    transition: transform 0.5s;
}

.logosocial:hover {
    transform: scale(1.2);
}

.memberpage {
    height: 980px;
    background-blend-mode:multiply;
    background-image:url("assets/bgmember.jpg");
    background-color:rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.membertitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 70px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
}

.forminput {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color:black;
    display:flex;
    flex-direction: column;
    background-color: #CDC2AE;
    padding: 20px;
    border-radius: 15px;
}

.button {
    color: white;
    background:#0b5374;
    border: 2px solid black;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.button:hover{
    background:#110744;
}

input[type=text], input[type=email], input[type=number], input[type="password"], input[type="date"]{
    width: 600px;
    height: 25px;
}

input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
}

.buttonsubmit {
    text-align: center;
}

.pemisah {
    height: 10px;
}

.eventspage {
    height: 1550px;
    background-image: linear-gradient(#e5e5e5, #bcb09a);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventstitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 70px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    width:100%;
    background-image: url("assets/imgevent.jpg");
    background-size: cover;
}

.eventsdesc {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 1000px;
    text-align:center;
    padding-top: 40px;
}

.eventpicture {
    width: 400px;
}

.isievent {
    display: flex;
    flex-direction: row;
}

.isitextevent {
    width: 350px;
    padding-left: 30px;

}

.judulevent {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

.bwhjudulevent {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.homepage {
    height: 640px;
    background-image: linear-gradient(#e5e5e5, #bcb09a);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 70px;
    width: 100%;
    height: 641px;
    text-align: center;
    background-image: url("assets/imghome.jpg");
    background-size: cover;
}

.jarak1 {
    height: 80px;
}

.jarak2 {
    height: 30px;
}

.wrapbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
}

.buttonvisit{
    cursor: pointer;
    border-radius: 25px;
    transition: transform 0.5s;
    color: black;
    background-color: #7d7d7d;
    padding: 10px 20px;
    font-size: 22px;
    font-weight:bold;
    text-decoration: none;
}

.buttonvisit:hover{
    color: #7d7d7d;
    background-color: black;
    transform: scale(1.2);
}

.shopspage {
    height: 1520px;
    background-image: linear-gradient(#e5e5e5, #bcb09a);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopstitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 70px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    width:100%;
    background-image: url("assets/imgshops.jpg");
    background-size: cover;
}

.restaurantspage {
    height: 1520px;
    background-image: linear-gradient(#e5e5e5, #bcb09a);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurantstitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 70px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    width:100%;
    background-image: url("assets/imgrestaurants.jpg");
    background-size: cover;
}

.shopimage {
    width: 500px;
    height: 333px;
    border-radius: 15px;
    border: 3px solid black;
}

.rowshop {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.restaurantimage {
    width: 500px;
    height: 333px;
    border-radius: 15px;
    border: 3px solid black;
}

.rowrestaurant {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rowhover1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 342px;
}

.rowhover2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 773px;
}

.rowhover3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 1204px;
}

.hoverimage {
    width: 500px;
    height: 330px;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
}

.hoverimage:hover {
    opacity: 1;
}

.hovertitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 30px;
}

.hoverdesc {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color:white;
    font-size: 20px;
    text-align: justify;
    width: 400px;
}

.hoversubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color:white;
    font-size: 15px;
}